/* Write your CSS here! */
body {
    display: block;
    margin: 8px;
    background-color: lightgrey;
}

#mainHeading {
background-color: burlywood;
text-align: center;
}

#p.funParagraph{
color: indigo;
}